.wallets {
  width: 80%;
  height: 90vh;
  margin: 100px auto;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 50px;
  overflow-y: auto;
}

.wallets__fetcher {
  text-align: center;
}

.wallets__input input {
  margin-top: 10px;
  width: 80%;
}

.wallets__submit {
  cursor: pointer;
  margin-top: 15px;
  margin-left: 20px;
  height: 40px;
  width: 105px;
  background-color: beige;
  border-radius: 5px;
}

.user-wallet {
  border-radius: 7px;
  border: 1px solid #9e9e9e;
  width: 350px;
  height: 200px;
  margin: 50px auto;
  position: relative;
}

.user-wallet__currencies {
  margin-top: 50px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.user-wallet__username {
  font-size: 24px;
  margin-left: 20px;
  text-transform: capitalize;
  color: #757575;
}

.user-wallet__refresh-btn {
  border: 2px solid green;
  border-radius: 3px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 40px;
  width: 70px;
}

.currency {
  display: flex;
  padding-top: 5px;
}

.currencyLabel {
  padding-left: 10px;
}

.currency__label {
  margin: 5px 0;
}

.currency__icon {
  height: 35px;
  width: 35px;
  margin-top: 7px;
}

.currency-type--neelam {
  background-color: blue;
}

.currency-type--dinero {
  border-radius: 50%;
  background-color: green;
}

.info-repo {
  font-weight: 100;
  margin: 5 auto;
  text-align: center;
}
