.wallets {
  width: 80%;
  margin: 100px auto;
  border-radius: 5px;
  background-color: whitesmoke;
}


.wallets__input input {
  width: 80%;
}

.user-wallet {
  border: 1px solid red;
  background-color: beige;
  margin: 50px auto;
}

.user-wallet__currencies {
  border: 20px solid purple;
  margin-top: 50px;
  height: 100px;
  width: 100%;
}

.user-wallet__refresh-btn {
  border: 1px solid green;

  margin-top: 50px;
  height: 60px;
  width: 100px;
  margin: 20px 50px;
}

