.wallets {
  width: 80%;
  margin: 100px auto;
  border-radius: 5px;
  background-color: whitesmoke;
}

.wallets__fetcher {
  text-align: center;
}

.wallets__input input {
  margin-top: 10px;
  width: 80%;
}

.wallets__submit {
  cursor: pointer;
  margin-top: 15px;
  margin-left: 20px;
  height: 40px;
  width: 105px;
  background-color: beige;
  color: purple;
  border-radius: 25px;
}

.user-wallet {
  border: 1px solid red;
  background-color: beige;
  margin: 50px auto;
}

.user-wallet__currencies {
  border: 20px solid purple;
  margin-top: 50px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.user-wallet__refresh-btn {
  border: 1px solid green;

  margin-top: 50px;
  height: 60px;
  width: 100px;
  margin: 20px 50px;
}

.currency {
  display: flex;
  padding-top: 5px;
}

.currencyLabel {
  padding-left: 10px;
}

.currency__label {
  margin: 5px 0;
}

.currency__icon {
  height: 35px;
  width: 35px;
  margin-top: 7px;
}

.currency-type--neelam {
 background-color: blue;
}

.currency-type--dinero {
  border-radius: 50%;
  background-color: green;
}