* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.body {
  display: flex;
  align-content: flex-start;
  justify-content: space-evenly;
  padding-top: 4rem;
}

.task-container {
  overflow: scroll;
  display: none;
  padding-top:10px;
  max-height: 85vh;
  width:50%
}

.task-subcontainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.task {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  height: max-content;
  width: 100%;
}

.members-container {
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  height: 80vh;
  overflow-y: scroll;
  min-width: 260px;
}

.members-list {
  overflow: hidden;
}

.members {
  margin: 10px;
  padding: 0 5px;
  border: 2px solid black;
  border-radius: 5px;
  height: 2rem;
  width: 15rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background: #8abbcd;
}

.members:hover {
  background: #5992a7;
}

.members.dragging {
  background: transparent;
  color: transparent;
  border: transparent;
}

.members-online {
  width: 10px;
  height: 10px;
  background-color: rgb(58, 247, 58);
  border-radius: 50%;
}

.members-online-hidden {
  display: none;
}

.members.scale {
  transform: scale(1.1);
}

.members-search {
  margin: 10px;
  height: 4rem;
  width: 15rem;
  position: sticky;
  top: 0;
  background: #fff;
  display: flex;
  align-items: center;
}

.members-search-input {
  height: 2rem;
  width: 15rem;
}

.members-profile {
  border-radius: 50%;
  width: 25px;
  margin-right: 5px;
}

.members-profile-and-name {
  display: flex;
  align-items: center;
}

footer {
  display: block;
  width: 100%;
  padding: 8px;
}

footer .info-repo {
  font-weight: 100;
  text-align: center;
}

/* MEDIA QUERY */

@media only screen and (max-width:900px) {
  .body {
    flex-direction: column-reverse;
    align-items: center;
    padding-top:2rem;
    gap: 3rem;
  }
  .task-container{
    width:70%;
    margin-bottom: 3rem;
  }
  .task-container-title{
    text-align: center;
  }
}
@media only screen and (max-width:600px) {
  .task-container{
    width:85%;
  }
}
@media only screen and (max-width:400px) {
  .task-container{
    width:95%;
  }
}