* {
  margin: 0;
  padding: 0;
}
:root {
  --color-text-primary: hsla(0, 0%, 21%, 1);
  --color-text-secondary: hsla(0, 0%, 21%, 0.5);

  --color-secondary: hsla(246, 74%, 66%, 1);
  --color-secondary-invert: hsla(0, 0%, 100%, 1);
  --color-secondary-darker: hsla(246, 74%, 60%, 1);

  --color-active-tabs-color: rgb(135, 216, 112);
  --color-active-groups-background: rgba(51, 122, 215, 0.69);
  --color-buttons-background: rgb(4, 17, 135);
  --color-loader-border: rgb(243, 243, 243);
  --color-loader-border-top: rgb(52, 152, 219);
  --color-list-border: rgba(0, 0, 0, 0.2);
  --color-white: rgb(255, 255, 255);
  --color-not-verified: rgb(255, 0, 0);

  --color-group-loading-background: hsla(218, 100%, 98%, 1);
  --color-group-loading-primary: rgb(227, 232, 239);

  --color-group-background: hsla(218, 100%, 98%, 1);
  --color-group-count: var(--color-text-secondary);
  --color-group-btn-background: var(--color-secondary);
  --color-group-btn-text: var(--color-secondary-invert);
  --color-group-btn-hover: var(--color-secondary-darker);
}

body {
  display: flex;
  justify-content: center;
}

.container {
  font-family: 'Roboto', sans-serif;
  width: clamp(250px, 100%, 800px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: var(--color-text-primary);
}

/* 
    FOR Serach
*/
.search {
  border: 1px solid hsla(0, 0%, 53%, 1);
  width: clamp(250px, 100%, 600px);
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 12px 16px;
  cursor: text;
}

.search__icon {
  height: 1.1rem;
}

.search__input {
  border: none;
  margin-left: 0.3rem;
}

.search__input::placeholder {
  color: hsla(0, 0%, 63%, 1);
}

.search__input:focus {
  outline: none;
}

/*
    FOR Group Card
*/

.group-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
  margin-top: 40px;
}

.card {
  background: var(--color-group-background);
  padding: 24px;
  width: 200px;
  border-radius: 24px;
  border: 1px solid hsla(219, 100%, 96%, 1);
}

.card__title {
  font-size: 1.1rem;
  font-weight: 400;
}

.card__description {
  margin-top: 0.6rem;
  color: var(--color-text-secondary);
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 18px;
}

.card__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.card__btn {
  border: none;
  border-radius: 8px;
  padding: 7px 20px;
  background: var(--color-group-btn-background);
  color: var(--color-group-btn-text);
  font-weight: 600;
  font-size: 0.8rem;
  transition: all 0.3s ease;
}

.card__btn--blocked {
  opacity: 0.5;
  cursor: not-allowed;
}

.card__btn:hover {
  background: var(--color-group-btn-hover);
}

.card__count {
  color: var(--color-group-count);
  font-size: 1rem;
  display: flex;
  align-items: end;
}

.card__count-text {
  font-size: 0.9em;
}

.card__count-icon {
  margin-left: 2px;
  padding-bottom: 0.5px;
  height: 1.1em;
}

.card--loading {
  background: var(--color-group-loading-background);
}

.card--loading .card__title {
  background: var(--color-group-loading-primary);
  height: 1.2rem;
  border-radius: 4px;
}

.card--loading .card__description {
  background: var(--color-group-loading-primary);
  height: 4rem;
  border-radius: 4px;
}

.card--loading .card__btn {
  background-color: var(--color-group-loading-primary);
  height: 0.9rem;
  width: 3rem;
}

/*
    FOR Message toaster box
*/

.toaster-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
}

.toaster-message {
  padding: 15px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  display: none;
}

.hidden {
  display: none;
}

.show {
  display: block;
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
