*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  --black-color: black;
  --white-color: white;
  --blue-color: #1d1283;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#tasksNav {
  background-color: #1d1283;
  padding: 15px;
  height: auto;
  text-align: center;
}

#createTask {
  color: white;
  text-decoration: none;
  font-size: large;
}

.buttonSection {
  height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  width: 250px;
}

.create-task-btn {
  color: black;
  font-weight: 500;
  font-size: larger;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 50px;
  cursor: pointer;
  transition: all 0.5s ease;
  outline: none;
}
.create-task-btn:hover {
  color: white;
  background-color: #1d1283;
  border: none;
}

/* profile section */
.profileSection {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-task-btn {
  color: black;
  font-weight: 500;
  font-size: larger;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 50px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.profile-task-btn:hover {
  color: white;
  background-color: #1d1283;
  border: none;
}
#user-management-link {
  color: black;
  font-weight: 500;
  font-size: larger;
  background-color: var(--white-color);
  border: 2px solid var(--black-color);
  border-radius: 5px;
  padding: 10px 50px;
  cursor: pointer;
  transition: all 0.5s ease;
  width: 270px;
  text-decoration: none;
}
#user-management-link:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
  border: none;
}

/* Online-members */
.online-members-link {
  color: black;
  font-weight: 500;
  font-size: larger;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 50px;
  transition: all 0.5s ease;
  text-decoration: none;
}

.online-members-link:hover {
  color: white;
  background-color: #1d1283;
  border: none;
}

.info-repo {
  font-weight: 100;
  padding: auto;
  text-align: center;
}

footer {
  margin-top: auto;
}

.element-display-remove {
  display: none;
}

@media (min-width: 0px) and (max-width: 820px) {
  .buttonSection {
    display: grid;
    place-items: center;
    place-content: center;
    gap: 4rem;
  }
}
