*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --black-color: black;
  --white-color: white;
  --blue-color: #1d1283;
  --success-color: green;
  --failure-color: #f44336;
  --lightblue-color: #0d6efd;
  --lightgray-color: #d7d6d6;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#tasksNav {
  background-color: var(--blue-color);
  padding: 10px;
  display: flex;
  align-items: center;
}

img {
  height: 100%;
  width: 100%;
}

.logo {
  height: 50px;
  width: 50px;
}

.nav-links {
  display: flex;
}

.nav-links .active {
  top: 80px;
  left: 0;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.nav-links .hamburger {
  display: none;
  order: 1;
  margin: auto;
  cursor: pointer;
}

.nav-links .hamburger .line {
  width: 25px;
  margin: 5px;
  border: 2px solid var(--white-color);
}

.nav-links .links {
  margin: auto;
}

.nav-links .links a {
  text-decoration: none;
  color: var(--white-color);
  padding: 20px;
}

.nav-links .links a:hover {
  color: #6dc66d;
}

.sign-in-btn {
  display: flex;
  justify-content: center;
  order: 3;
}

.sign-in-btn a {
  position: absolute;
  right: 10px;
  margin: 10px;
  height: 30px;
  padding: 5px;
  background-color: var(--blue-color);
  color: var(--white-color);
  cursor: pointer;
  border: 2px solid var(--white-color);
  border-radius: 6px;
  text-decoration: none;
}

.sign-in-btn a img {
  height: 15px;
  width: 15px;
  position: relative;
  top: 1px;
}

#createTask {
  color: var(--white-color);
  text-decoration: none;
  font-size: large;
}

.buttonSection {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1.2rem;
  flex-wrap: wrap;
}

button {
  width: 16rem;
  cursor: pointer;
  position: relative;
}

.create-task-btn {
  color: var(--black-color);
  font-weight: 500;
  font-size: larger;
  background-color: var(--white-color);
  border: 2px solid var(--black-color);
  border-radius: 5px;
  padding: 10px 3.12rem;
  cursor: pointer;
  transition: all 0.5s ease;
  outline: none;
}
.create-task-btn:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
  border-color: transparent;
}

/* profile section */
.profileSection {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-task-btn {
  color: var(--black-color);
  font-weight: 500;
  font-size: larger;
  background-color: var(--white-color);
  border: 2px solid var(--black-color);
  border-radius: 5px;
  padding: 10px 3.12rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.profile-task-btn:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
  border-color: transparent;
}
#user-management-link {
  color: var(--black-color);
  font-weight: 500;
  font-size: larger;
  background-color: var(--white-color);
  border: 2px solid var(--black-color);
  border-radius: 5px;
  padding: 10px 3.12rem;
  cursor: pointer;
  transition: all 0.5s ease;
  width: 17rem;
  text-decoration: none;
}
#user-management-link:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
  border-color: transparent;
}

/* Extension Requests */
#extension-requests-link {
  color: var(--black-color);
  font-weight: 500;
  font-size: larger;
  background-color: var(--white-color);
  border: 2px solid var(--black-color);
  border-radius: 5px;
  padding: 10px 3.12rem;
  cursor: pointer;
  transition: all 0.5s ease;
  width: max-content;
  text-decoration: none;
}
#extension-requests-link:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
  border-color: transparent;
}

/* Online-members */
.online-members-link {
  color: var(--black-color);
  font-weight: 500;
  font-size: larger;
  border: 2px solid var(--black-color);
  border-radius: 5px;
  padding: 10px 3.12rem;
  transition: all 0.5s ease;
}

.online-members-link:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
  border-color: transparent;
}

/* Online-members */
.info-repo {
  font-weight: 100;
  padding: auto;
  text-align: center;
}

footer {
  margin-top: auto;
}

.action-button {
  color: var(--black-color);
  font-weight: 500;
  font-size: larger;
  background-color: var(--white-color);
  border: 2px solid var(--black-color);
  border-radius: 5px;
  padding: 10px 3.12rem;
  cursor: pointer;
  transition: all 0.5s ease;
  outline: none;
  text-decoration: none;
  color: var(--black-color);
}

.action-button:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
  border: none;
}

#sync-buttons.element-display-remove {
  display: none;
}

#sync-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-top: 3.12rem;
  margin-bottom: 1.25rem;
  padding: 0 6.25rem;
  flex-wrap: wrap;
}

#sync-buttons .button-container {
  flex: 1 1 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 3px solid var(--white-color);
  border-top: 3px solid var(--blue-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

#sync-buttons .status {
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  max-height: 1.25rem;
}

.action-button.disabled {
  opacity: 0.5;
  background-color: var(--blue-color);
  color: var(--white-color);
  pointer-events: none;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#toast {
  position: absolute;
  top: 3rem;
  right: 8px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.success {
  color: var(--green-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.failure {
  color: var(--red-color);
}

.hidden {
  display: none !important;
}

.progress-bar {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  overflow: hidden;
}

.success .progress-bar {
  background-color: var(--success-color);
}

.failure .progress-bar {
  background-color: var(--failure-color);
}

.fill {
  height: 5px;
  animation: fillAnimation 5s ease backwards;
}

@keyframes fillAnimation {
  100% {
    width: 0%;
  }
}

.element-display-remove {
  display: none !important;
}
/* Dropdown container */

#dropdown {
  display: none;
  position: absolute;
  width: 8rem;
  right: 1.5rem;
  top: 2.5rem;
  z-index: 100;
  flex-direction: column;
  justify-content: center;
  padding: 0.25rem 0;
  background-color: var(--white-color);
  border-radius: 0.63rem;
  font-size: 0.75rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0 0.06rem 0.13rem 0,
    rgba(60, 64, 67, 0.15) 0 0.13rem 0.38rem 0.13rem;
}

#signout-option {
  cursor: pointer;
}

#dropdown.active {
  display: flex;
}

.dropdown-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  cursor: pointer;
  color: var(--lightblue-color);
  font-weight: 700;
}
.dropdown-item {
  padding: 0.75rem 1.75rem;
}
.dropdown-item:hover {
  background-color: var(--lightgray-color);
  transition: background-color 0.31s ease-in-out;
}
.dropdown-link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: var(--lightblue-color);
}

.user-info {
  display: none;
  position: absolute;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--white-color);
  order: 3;
  font-size: smaller;
  font-weight: bold;
}
.user-info.active {
  display: flex;
  right: 0.5rem;
}

.user-info img {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
}

/* MEDIA QUERY */

@media screen and (max-width: 970px) {
  #tasksNav {
    justify-content: space-between;
  }

  .sign-in-btn a {
    position: static;
  }

  .sign-in-btn span {
    display: none;
  }
  .logo {
    order: 2;
  }

  .nav-links .hamburger {
    display: inline-block;
  }

  .nav-links .links {
    display: none;
  }

  /* .nav-links .active {
    margin-top: -0.61rem;
    position: absolute;
    display: flex;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 15px;
  }

  .nav-links .links a {
    color: var(--blue-color);
  } */

  .nav-links .active {
    font-family: 'Roboto', sans-serif;  
    font-weight: 700;
    width: 150px;
    border-radius: 10px;
    color: #000;
    position: absolute;
    top: 60px;
    left: 22px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    font-size: .87rem;
    justify-content: center;
    background-color: #fffbfb;
    box-shadow: rgba(60,64,67,.3) 0 1px 2px 0,rgba(60,64,67,.15) 0 2px 6px 2px
  }
  
  
  .nav-links .links a{
    font-weight: 700;
    background-color: white;
    color: #1d1283;
    border: none;
    padding: 15px 30px;
    font-size: .87rem;
    text-align: start;
    cursor: pointer;
    list-style: none;
  }
  .user-info {
    position: inherit;
  }
  .logo {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .buttonSection {
    flex-direction: column;
  }
  .action-button {
    text-align: center;
  }
  .logo {
    display: none;
  }
}
