*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --black-color: black;
  --white-color: white;
  --blue-color: #1d1283;
  --success-color: green;
  --failure-color: #f44336;
  --lightblue-color: #0d6efd;
  --lightgray-color: #d7d6d6;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#createTask {
  color: var(--white-color);
  text-decoration: none;
  font-size: large;
}

.buttonSection {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1.2rem;
  flex-wrap: wrap;
}

button {
  width: 16rem;
  cursor: pointer;
  position: relative;
}

.create-task-btn {
  color: var(--black-color);
  font-weight: 500;
  font-size: larger;
  background-color: var(--white-color);
  border: 2px solid var(--black-color);
  border-radius: 5px;
  padding: 10px 3.12rem;
  cursor: pointer;
  transition: all 0.5s ease;
  outline: none;
}
.create-task-btn:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
  border-color: transparent;
}

.profileSection {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-task-btn {
  color: var(--black-color);
  font-weight: 500;
  font-size: larger;
  background-color: var(--white-color);
  border: 2px solid var(--black-color);
  border-radius: 5px;
  padding: 10px 3.12rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.profile-task-btn:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
  border-color: transparent;
}

/* Online-members */
.info-repo {
  font-weight: 100;
  padding: auto;
  text-align: center;
}

footer {
  margin-top: auto;
}

.action-button {
  width: 100%;
  color: var(--black-color);
  font-weight: 600;
  font-size: 1.1rem;
  background-color: var(--white-color);
  border: 2px solid var(--black-color);
  border-radius: 5px;
  padding: 10px 3.12rem;
  cursor: pointer;
  transition: all 0.5s ease;
  outline: none;
  text-decoration: none;
}

.card {
  background-color: white;
  text-decoration: none;
  padding: 20px;
  width: 280px;
  border-radius: 15px;
  border: 1px solid hsla(0, 0%, 92%, 1);
  box-shadow: 1px 2px 4px 0px hsla(0, 0%, 0%, 0.1);
}

.card:hover {
  background-color: rgb(215, 230, 241);
  transition: 0.5s ease;
}

.card__title {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: hsla(0, 0%, 21%, 1);
}

.card__description {
  margin-top: 0.6rem;
  color: hsla(0, 0%, 21%, 0.75);
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 18px;
}

.action-button:hover,
.action-button:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
  border-color: var(--blue-color);
}

.description {
  margin-top: 0.6rem;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 18px;
}

#sync-buttons.element-display-remove {
  display: none;
}

#sync-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-top: 3.12rem;
  margin-bottom: 1.25rem;
  padding: 0 1.25rem;
  flex-wrap: wrap;
}

#sync-buttons .button-container {
  flex: 1 1 auto;

  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 3px solid var(--white-color);
  border-top: 3px solid var(--blue-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

#sync-buttons .status {
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  max-height: 1.25rem;
}

.action-button.disabled {
  opacity: 0.5;
  background-color: var(--blue-color);
  color: var(--white-color);
  pointer-events: none;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#toast {
  position: absolute;
  top: 3rem;
  right: 8px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.success {
  color: var(--green-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.failure {
  color: var(--red-color);
}

.hidden {
  display: none !important;
}

.progress-bar {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  overflow: hidden;
}

.success .progress-bar {
  background-color: var(--success-color);
}

.failure .progress-bar {
  background-color: var(--failure-color);
}

.fill {
  height: 5px;
  animation: fillAnimation 5s ease backwards;
}

@keyframes fillAnimation {
  100% {
    width: 0%;
  }
}

.element-display-remove {
  display: none !important;
}

@media only screen and (max-width: 1200px) {
  .buttonSection {
    flex-direction: column;
    height: auto;
    padding: 15px;
  }
  .action-button {
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: medium;
  }
}
