body {
  text-align: center;
  box-sizing: border-box;
}
#container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  height: 100%;
}

#select-tags {
  padding: 10px 15px;
  margin-left: 10px;
  font-size: 1.2rem;
  width: 100%;
}

#main {
  width: 100%;
  margin-top: 20px;
}

.tag-create__container,
.level-create__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  align-items: center;
  border: 1px solid;
  justify-content: center;
}

.input {
  font-weight: 550;
  width: 80%;
  margin-top: 20px;
  padding: 1rem;
  border: 1px solid gray;
}

input::placeholder {
  color: black;
  font-weight: 550;
}

.level-selector {
  font-weight: 550;
  width: 85%;
  margin-top: 20px;
  padding: 1rem;
}

.submit-button {
  color: white;
  background-color: royalblue;
  font-weight: 550;
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1rem;
  border: 1px solid gray;
}

.title {
  margin-top: 0;
  margin-top: 0;
}
