:root {
  font-family: 'Inter', sans-serif;
  --color-success: rgba(20, 102, 75, 0.6);
  --color-gray-light: #eee;
  --color-gray: #666;
  --color-green: green;
  --color-warn: rgba(199, 129, 18, 0.4);
  --color-warn-background: #fcf1e0;
}

body {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none !important;
}

.skeleton {
  animation: skeleton 2s linear infinite;
  border-radius: 0.5rem;
  min-height: 0.5rem;
  margin: 0.5rem 0;
}

.header {
  background: #1d1283;
  padding: 1rem;
}
.header__contents {
  max-width: 1440px;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header__contents__navlink {
  color: white;
  text-decoration: none;
}
.header__contents__navlink:hover {
  text-decoration: underline;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.taskRequest {
  padding: 1rem;
  grid-column: 1 / span 12;
}
.taskRequest__skeleton__title {
  height: 1.5rem;
  width: 50ch;
  margin: 0.5rem 0;
}
.taskRequest__skeleton__subtitle {
  height: 1rem;
  max-width: 30ch;
  animation: skeleton 2s linear infinite;
}
.taskRequest__title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
}
.taskRequest__title__subtitle {
  font-size: 1rem;
  font-weight: 700;
  color: #888;
  font-size: 0.875rem;
}
.taskRequest__status__chip {
  padding: 0.5rem;
  line-height: 1.5rem;
  border-radius: 1rem;
  font-weight: 700;
}
.taskRequest__status__chip--approved {
  background: #e1f9f1;
  color: #19805e;
}
.taskRequest__status__chip--waiting {
  background: #fcf1e0;
  color: #c78112;
}
.taskRequest__status__chip--pending {
  background: var(--color-warn-background);
  color: var(--color-warn);
}
.taskRequest__status__chip--tag {
  background: var(--color-gray-light);
  color: var(--color-gray);
}
.task__skeleton__title {
  height: 1.25rem;
  max-width: 45ch;
}
.task__skeleton__details {
  height: 0.75rem;
  max-width: 20ch;
}
.task__skeleton__description {
  height: 0.75rem;
  max-width: 75ch;
}

.task {
  grid-column: 1 / span 8;
  padding: 1rem;
}
.task__title {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #1d1283;
  margin: 0;
}
.task__purpose {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 1rem;
  max-width: 80ch;
}
.task__type__chip {
  padding: 0.5rem;
  line-height: 1.5rem;
  border-radius: 1rem;
  font-weight: 700;
  margin: 0 0.25rem;
  white-space: nowrap;
}
.task__type__chip--feature {
  background: #dfe4ff;
  border: solid 1px #9eadfe;
  color: #0224df;
}
.task__type__chip--refactor {
  background: #fadee0;
  border: solid 1px #f19ca1;
  color: #ae1820;
}
.task__type__chip--bug {
  background: #e1f9f1;
  border: solid 1px #7fe6c4;
  color: #14664b;
}
.task__type__chip--noteworthy {
  background: #14664b;
  color: white;
}

.requestors {
  grid-column: auto / span 4;
  padding: 1rem;
  align-self: flex-start;
  border-left: solid 1px rgba(0, 0, 0, 0.1);
}
.requestors__container__title {
  font-size: 1.375rem;
  line-height: 1.75rem;
  font-weight: 400;
  margin: 0;
}
.requestors__container__list {
  list-style-type: none;
  padding: 0;
}
.requestors__container__list li {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.requestors__container__list__userDetails {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.requestors__container__list__userDetails__avatar {
  height: 2rem;
  width: 2rem;
  display: grid;
  background-color: #e2e2e2;
  place-items: center;
  border-radius: 50%;
}
.requestors__container__list li:nth-child(even) {
  background: #eee;
}
.requestors__conatainer__list__button {
  padding: 0.375rem 0.5rem;
  background: #fff;
  border: solid 1px #19805e;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #19805e;
  border-radius: 0.25rem;
  cursor: pointer;
}
.requestors__conatainer__list__button:hover {
  color: white;
  background: #19805e;
  transition: 0.3s ease-in-out;
}
.requestors__container__list__approved {
  background: transparent;
  border: none;
  color: #c3c3c3;
  font-weight: 600;
}
.reject__container {
  text-align: center;
}
.requestors__container__reject__button {
  padding: 0.375rem 0.5rem;
  width: 80%;
  background: #fff;
  border: solid 1px #f43030;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #f43030;
  border-radius: 0.25rem;
  cursor: pointer;
}
.requestors__container__reject__button:hover {
  color: white;
  background: #f43030;
  transition: 0.3s ease-in-out;
}

.circular-image {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.success {
  color: white;
  background: var(--color-green);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.failure {
  color: white;
  background: #f43030;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#toast_task_details {
  position: absolute;
  top: 90%;
  right: 10%;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@keyframes skeleton {
  0% {
    background: hsl(0, 0%, 75%);
  }
  50% {
    background: hsl(0, 0%, 95%);
  }
  100% {
    background: hsl(0, 0%, 75%);
  }
}

@media (max-width: 599px) {
  .taskRequest__title {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
  .taskRequest__title__subtitle {
    font-size: 0.875rem;
    line-height: 1rem;
  }
  .taskRequest__status {
    font-size: 0.75rem;
  }
}

@media (max-width: 904px) {
  .task {
    grid-column: 1 / span 12;
  }

  .requestors {
    grid-column: 1 / span 12;
    border: none;
  }

  .taskRequest__skeleton__title {
    max-width: 80%;
    height: 1rem;
  }
  .taskRequest__skeleton__subtitle {
    max-width: 40%;
  }
}
