:root {
  --background-color: #dbe9f9;
  --blue-color: #007bff;
  --white-color: #ffffff;
  --gray-color: #aaa;
  --light-gray-color: #f9fafb;
  --dark-gray-color: #080707;
  --pink-color: rgb(198, 78, 170);
  --light-pink-color: rgb(180, 70, 150);
  --dark-pink-color: rgb(165, 65, 135);
  --teal-color: rgb(98, 178, 170);
  --light-teal-color: rgb(88, 160, 150);
  --red-color: rgb(255, 102, 102);
  --light-red-color: rgb(235, 85, 85);
  --tab-background-color: #f6faff;
  --tab-border-color: #ddd;
  --activity-item-background: #ffffff;
  --activity-item-border: #ddd;
  --primary-color: #1d1283;
}

body {
  background: var(--background-color);
}

.header {
  background-color: var(--blue-color);
  text-align: center;
  color: var(--white-color);
  letter-spacing: 2px;
}

#activity_feed_container {
  padding: 1rem 0;
  width: 50rem;
  margin: 0 auto;
}

.activity-feed {
  border: 1px solid var(--activity-item-border);
  padding: 1rem;
  margin-bottom: 1rem;
}

.activity-list {
  list-style: none;
  padding: 0;
}

.activity-item {
  margin-bottom: 0.5rem;
  display: flex;
  border: 1.5px;
  border-radius: 0.5rem;
  padding: 0 1rem;
  background: var(--activity-item-background);
  width: 100%;
  flex-direction: column;
}

.activity-item a {
  color: var(--blue-color);
  text-decoration: none;
}

.activity-item a:hover {
  text-decoration: underline;
}

.activity-item time {
  font-size: 0.8rem;
  color: var(--gray-color);
}

.tabs-container {
  margin: 0 auto;
  width: 50rem;
  padding: 0.5rem 0;
}

.tabs {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  background: var(--tab-background-color);
  border-bottom: 2px solid var(--tab-border-color);
}

.tabs li {
  padding: 1rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
  color: #737171;
}

.tabs li:hover {
  background-color: var(--light-gray-color);
}

.tabs li.active {
  border-bottom: 4px solid var(--pink-color);
  font-weight: bold;
  color: var(--dark-gray-color);
  background-color: var(--white-color);
}

.timestamp {
  text-align: right;
  font-size: 1rem;
  color: var(--gray-color);
}

.img_icon {
  height: 1.8rem;
  width: 1.8rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.loader-text {
  text-align: center;
  font-size: 1.5rem;
}

.loader {
  margin: auto auto;
}

.loader p {
  font-weight: 600;
  font-size: 2em;
}

.page-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

.filter-row {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  width: 100%;
  padding: 1rem 0;
}

.input-wrapper {
  position: relative;
  max-width: 12rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#assignee-search {
  width: 100%;
  padding: 0.8rem;
  max-width: 15rem;
  border: 1px solid var(--input-border);
  border-radius: 0.5rem;
  font-size: 1rem;
  background: var(--light-gray-color);
  transition: border-color 0.2s ease-in-out;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 2.8rem;
}

.clear-icon {
  position: absolute;
  top: 75%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--gray-color);
  font-size: 1.4rem;
  font-weight: bold;
}

.clear-icon:hover {
  color: var(--primary-color);
}

.date-filters {
  display: flex;
  gap: 1.2rem;
  flex-grow: 2;
}

.date-inputs {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.date-inputs input {
  width: 100%;
  max-width: 15rem;
  padding: 0.8rem;
  border: 1px solid var(--input-border);
  border-radius: 0.5rem;
  font-size: 1rem;
  background: var(--light-gray-color);
}

.suggestion-box {
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 12rem;
  overflow-y: auto;
  border: 1px solid var(--input-border);
  background-color: var(--white-color);
  width: 100%;
  z-index: 1000;
  display: none;
  border-radius: 0.5rem;
  margin-top: 0.4rem;
  min-height: 3rem;
}

.suggestion-item {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 0.5rem;
  height: 2rem;
  margin-top: 0.2rem;
}

.suggestion-item:hover {
  background-color: var(--light-gray-color);
}

.suggestion-item.active {
  background-color: var(--light-teal-color);
}

.suggestion-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.user-icon {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
}

@media (max-width: 480px) {
  .filters,
  .filter-row {
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
  }

  .input-wrapper,
  .date-inputs input {
    max-width: 100%;
  }

  .tabs-container {
    width: 25rem;
    overflow: scroll;
  }

  .container,
  .tabs {
    overflow: scroll;
  }

  #activity_feed_container {
    overflow: scroll;
  }
  #assignee-search,
  .suggestion-box {
    width: 14rem;
  }

  .clear-icon {
    right: 45%;
  }
}
