:root {
  font-family: 'Inter', sans-serif;
  --color-primary: #1d1283;
  --color-gray: #666;
  --black-color: black;
  --elevation-1: 0 1px 3px 1px rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.1);
  --elevation-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}

.application-container {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  padding-bottom: 10px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  gap: 25px;
}

.application-card {
  border-radius: 15px;
  box-shadow: var(--elevation-1);
  padding: 15px;
  width: 44%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.application-card:hover {
  box-shadow: var(--elevation-3);
  transition: 300ms ease-in;
}

.application-card .user-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.application-card .user-info * {
  margin: 0;
}

.application-card .user-info .username {
  color: var(--black-color);
  font-size: 20px;
  font-style: normal;

  font-weight: 700;
  line-height: normal;
}

.application-card .user-info .company-name {
  color: var(--color-gray);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.application-card .user-info .skills {
  color: var(--color-gray);
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
}

.application-card .user-intro {
  color: var(--color-gray);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
}

.application-card .view-details-button {
  border-radius: 5px;
  background: var(--color-primary);
  color: #fff;
  font-size: 16px;
  padding: 6px 16px;
  margin-left: auto;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  border: none;
}

.hidden {
  display: none;
}

.loader {
  font-weight: 600;
  text-align: center;
  font-size: 32px;
  margin: 30px;
}

#page_bottom_element {
  width: 100%;
  height: 20px;
}

@media screen and (max-width: 850px) {
  .application-card {
    width: 100%;
  }
}
