:root {
  font-family: 'Inter', sans-serif;
  --color-primary: #1d1283;
  --color-primary-hover: #11085c;
  --white: #fff;
  --color-gray: #666;
  --black-color: black;
  --black-transparent: #000000a8;
  --light-gray-color: lightgray;
  --red-color: red;
  --elevation-1: 0 1px 3px 1px rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.1);
  --elevation-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --color-green: green;
  --color-red-variant1: #f43030;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.backdrop {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.backdrop-blur {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.header {
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
  overflow-y: auto;
}

.funnel-icon {
  width: 1.2rem;
  height: 1.5rem;
  margin-left: 0.5rem;
}

.filter-button:hover {
  background-color: var(--color-primary-hover);
}

.filter-button {
  margin-left: auto;
  background-color: var(--color-primary);
  color: var(--white);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 2.5rem;
  padding: 0.7rem;
}

.apply-filter-button {
  border: 1px solid var(--light-gray-color);
  border-radius: 0.31rem;
  padding: 0.62rem;
  cursor: pointer;
  width: 100%;
  background-color: var(--color-primary);
  color: var(--white);
}

.filter-modal {
  width: 20%;
  min-width: 14rem;
  max-width: 18rem;
  border: 1px solid var(--light-gray-color);
  box-shadow: 0 0 10px var(--black-transparent);
  border-radius: 0.31rem;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-bottom: 1rem;
  z-index: 1;
  position: absolute;
  top: 11.25rem;
  right: 1rem;
  background-color: var(--white);
}

.filter-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
}

.clear-btn {
  background-color: var(--white);
  border: 1px solid var(--light-gray-color);
  border-radius: 0.31rem;
  padding: 0.31rem 0.62rem;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: var(--red-color);
  color: var(--white);
}

.filters-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.modal-form {
  text-align: initial;
  padding: 0.5rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.application-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
  gap: 25px;
}

.application-container.center {
  justify-content: center;
}

.application-card {
  border-radius: 15px;
  box-shadow: var(--elevation-1);
  padding: 15px;
  width: 44%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.application-card:hover {
  box-shadow: var(--elevation-3);
  transition: 300ms ease-in;
}

.application-card .user-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.application-card .user-info * {
  margin: 0;
}

.application-card .user-info .username {
  color: var(--black-color);
  font-size: 20px;
  font-style: normal;

  font-weight: 700;
  line-height: normal;
}

.application-card .user-info .company-name {
  color: var(--color-gray);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

.application-card .user-info .skills {
  color: var(--color-gray);
  font-size: 13px;
  font-weight: 600;
  line-height: normal;
}

.hide-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.application-card .user-intro {
  color: var(--color-gray);
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
}

.application-card .view-details-button {
  border-radius: 5px;
  background: var(--color-primary);
  color: #fff;
  font-size: 16px;
  padding: 6px 16px;
  margin-left: auto;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  border: none;
}

.hidden {
  visibility: collapse;
}

.loader {
  font-weight: 600;
  text-align: center;
  font-size: 32px;
  margin: 30px;
}

.loader.hidden {
  display: none;
}

#page_bottom_element {
  width: 100%;
  height: 20px;
}

.application-details {
  border-radius: 15px;
  background: #fff;
  width: 90%;
  height: 90vh;
  max-width: 600px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.application-details .application-close-button {
  padding: 0;
  margin-left: auto;
  background: none;
  border: none;
  margin-right: 5px;
  cursor: pointer;
  margin-top: 5px;
  height: 5%;
}

.application-details .application-details-main {
  height: 90%;
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.application-details .application-details-main .title {
  color: var(--black-color);
  font-size: 28px;
  text-align: center;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.application-details .application-details-main .application-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.application-details
  .application-details-main
  .application-section
  .section-title {
  color: var(--black-color);
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  margin: 0;
}

.application-details
  .application-details-main
  .application-section
  .description {
  color: var(--color-gray);
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.application-details
  .application-details-main
  .application-section
  .application-textarea {
  width: 90%;
  height: 150px;
  resize: none;
  border: 1px solid var(--light-gray-color);
  border-radius: 5px;
  padding: 10px;
  outline: none;
}

.application-details .application-details-actions {
  display: flex;
  align-items: flex-start;
  height: 8%;
  justify-content: space-around;
  padding: 10px;
  padding-bottom: 16px;
}

.application-details .application-details-actions .application-details-reject,
.application-details .application-details-actions .application-details-accept {
  width: 44%;
  cursor: pointer;
  border: none;
  height: 95%;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
}

.application-details .application-details-actions .application-details-reject {
  background: var(--red-color);
}

.application-details .application-details-actions .application-details-accept {
  background: var(--color-primary);
}

.unauthorized-text {
  text-align: center;
}

.no_applications_found {
  text-align: center;
  font-size: 32px;
  margin-top: 20px;
  font-weight: 600;
}

.no_applications_found.hidden {
  display: none;
}

.close-button-icon {
  width: 32px;
  height: 32px;
}

#toast {
  position: fixed;
  top: 20px;
  right: -300px;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
}

.animated_toast {
  animation: slideIn 0.5s ease-in-out forwards,
    slideOut 0.5s ease-in-out 2.5s forwards;
}

.success {
  background: var(--color-green);
}

.failure {
  background: var(--color-red-variant1);
}

.disable-button {
  opacity: 0.2;
}

@keyframes slideIn {
  from {
    right: -300px;
  }

  to {
    right: 20px;
  }
}

@keyframes slideOut {
  from {
    right: 20px;
  }

  to {
    right: -300px;
  }
}

@media screen and (max-width: 850px) {
  .application-card {
    width: 100%;
  }

  .container {
    padding: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .application-details {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
