*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  user-select: none;
}

.container {
  width: 100%;
  color: #666;
  text-align: center;
  padding: 1em 0;
}

#taskForm {
  width: 60vw;
  max-width: 40rem;
  min-width: 300px;
  margin: 0 auto;
  padding: 1em 1.5em;
  border: 1px solid #f4f4f4;
  border-radius: 20px;
  box-shadow: 0 0 15px -7px rgba(0, 0, 0, 0.65);
}

.inputBox {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.inputBox label {
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  text-align: left;
  position: relative;
}

.inputBox input {
  padding: 1em;
  border: 1px solid #666;
  border-radius: 5px;
  width: 100%;
}

::placeholder {
  font-family: sans-serif;
}

.textInput {
  padding: 1em;
  width: 100%;
  min-height: 65px;
  border-radius: 5px;
  border: 1px solid #666;
  resize: vertical;
}

.radioButtons {
  display: flex;
  flex-direction: row;
}

.checkBox {
  display: flex;
  flex-direction: row;
}

.submitBtn {
  font-size: 1rem;
  padding: 1em 0.5em;
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px, rgba(0, 0, 0, 0.07) 0 2px 2px,
    rgba(0, 0, 0, 0.07) 0 4px 4px, rgba(0, 0, 0, 0.07) 0 8px 8px,
    rgba(0, 0, 0, 0.07) 0 16px 16px;
}

.active {
  background-color: #0000ee;
  color: #fff;
}

.disabled {
  color: rgb(204 200 200);
  background-color: #7171fd;
  opacity: 0.5;
}

.required {
  color: red;
  font-size: medium;
}

#status {
  width: 100%;
  padding: 1em;
  border-radius: 5px;
}

#isNoteworthy {
  width: auto;
}

#participantsInput {
  display: none;
}

.hidden {
  display: none;
}

.visibity-hidden {
  visibility: hidden;
}

/* --- Loading spinner --- */

.loaderContainer {
  position: relative;
  cursor: default;
}

.loader-wrapper {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.3);
}

.loader {
  border: 4px solid transparent;
  border-top: 4px solid #1d58d8;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  animation: spin 1.3s linear infinite;
}

.info-repo {
  font-weight: 100;
  padding: auto;
  text-align: center;
}

footer {
  margin-top: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#remainingDays {
  font-weight: 100;
}

.notEditing {
  display: none;
}

.inputBox label .edit-button {
  width: fit-content;
  height: fit-content;
  font-size: 0.625em;
  opacity: 60%;
  right: 5px;
  cursor: pointer;
  display: block;
  transition: opacity ease 0.25s;
  padding: 5px 10px 5px 0px;
}

.inputBox .preview {
  font-size: 0.875em;
  font-weight: 400;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 80%;
  position: relative;
  /* overflow-wrap: break-word; */
  overflow: hidden;
}

.inputBox label .edit-button:hover {
  opacity: 100%;
}

.inputBox label .edit-button.edit-button__active {
  opacity: 100%;
}

#assigneeInput {
  position: relative;
}

#list-items {
  width: 100%;
  max-height: 12.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 2rem;
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 50%;
  left: 0%;
  right: 0;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.list-item {
  text-align: left;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  border-bottom: 1px solid #d4d4d4;
  margin: 0;
}

#list-items:nth-last-child() {
  border-bottom: 0;
}

.list-item:hover {
  background-color: #ddd;
}

.unknownUsers-list {
  margin: 0.2rem;
  color: rgb(255, 92, 92);
  font-size: 0.75rem;
}
