* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.body {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.main {
}

.task {
  margin: 50px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  height: max-content;
  width: 30rem;
  align-items: center;
  display: flex;
}

.members-container {
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  height: 80vh;
  overflow-y: scroll;
}

.members-list {
  overflow: hidden;
}

.members {
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  height: 2rem;
  width: 15rem;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: #8abbcd;
}

.members:hover {
  background: #5992a7;
}

.members.dragging {
  background: transparent;
  color: transparent;
  border: transparent;
}

.members.scale {
  transform: scale(1.1);
}

.members-search {
  margin: 10px;
  height: 2rem;
  width: 15rem;
  position: sticky;
  top: 0;
}
