:root {
  font-family: 'Inter', sans-serif;
  --color-primary: #1d1283;
  --color-primary-hover: #11085c;
  --color-button-hover: #2c1bc6;
  --white: #fff;
  --color-gray: #666;
  --black-color: black;
  --black-transparent: #000000a8;
  --light-gray-color: lightgray;
  --red-color: red;
  --elevation-1: 0 1px 3px 1px rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.1);
  --elevation-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  --color-green: green;
  --color-red-variant1: #f43030;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}

.container {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-discord-invite {
  margin: 2rem;
  padding: 10px;
}

.hidden {
  visibility: hidden;
}

#toast {
  position: fixed;
  top: 20px;
  right: -300px;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
}

.success {
  background: var(--color-green);
}

.failure {
  background: var(--color-red-variant1);
}

.animated_toast {
  animation: slideIn 0.5s ease-in-out forwards,
    slideOut 0.5s ease-in-out 2.5s forwards;
}
