* {
  margin: 0;
  padding: 0;
}
:root {
  --color-groups-tab-background: rgb(29, 18, 131);
  --color-active-tabs-color: rgb(135, 216, 112);
  --color-active-groups-background: rgba(51, 122, 215, 0.69);
  --color-buttons-background: rgb(4, 17, 135);
  --color-loader-border: rgb(243, 243, 243);
  --color-loader-border-top: rgb(52, 152, 219);
  --color-list-border: rgba(0, 0, 0, 0.2);
  --color-white: rgb(255, 255, 255);
  --color-not-verified: rgb(255, 0, 0);
  --color-member-count: #717171;
}
.container {
  font-family: 'Roboto', sans-serif;
}

.btn {
  padding: 0.6rem 2rem;
  border-radius: 0.4rem;
}

/*
    FOR TAB GROUPS [MANAGE AND CREATE]
*/

.groups-tab {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 1.2rem;
  flex-direction: row;
  background-color: var(--color-groups-tab-background);
}
.tab {
  font-size: larger;
  font-weight: bolder;
  color: var(--color-white);
  cursor: pointer;
  margin: 1.6rem;
  padding-bottom: 0.4rem;
}
.active-tab {
  color: var(--color-active-tabs-color);
  border-bottom: 4px solid var(--color-active-tabs-color);
}
.tab:hover {
  color: var(--color-active-tabs-color);
}

.active-group {
  background-color: var(--color-active-groups-background);
}

/*
    FOR MANAGE GROUPS
*/

.manage-groups {
  display: flex;
}
.manage-groups main {
  padding: 1rem 4rem;
  flex: 1;
}

.groups {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.groups-search {
  margin: 10px;
  height: 4rem;
  width: 100%;
  position: sticky;
  top: 0;
  background: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.groups-search-input {
  height: 2rem;
  width: 90%;
  padding-left: 2px;
}
.groups-list {
  padding: 0.8rem;
  list-style: none;
  height: 66vh;
  overflow-y: scroll;
}
.groups-list::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.groups-list::-webkit-scrollbar-thumb {
  background: var(--color-buttons-background);
  border-radius: 1.2rem;
}
.groups-list li {
  padding: 0.8rem;
  border: 1px solid var(--color-list-border);
  margin-bottom: 0.6rem;
  border-radius: 0.6rem;
  min-width: 12rem;
}
.groups-list li:hover {
  cursor: pointer;
  background-color: var(--color-active-groups-background);
}
.group-name {
  font-size: larger;
  display: flex;
}

.group-name::after {
  content: '(' attr(data-member-count) ')';
  margin: auto 0.26rem;
  font-size: 0.8rem;
  color: var(--color-member-count);
}

.group-name:not([data-member-count])::after {
  display: none;
}

.created-by--container {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  display: flex;
}

.created-by--avatar {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  clip-path: circle();
}

.created-by {
  opacity: 0.6;
  margin: auto 0.4rem;
}
.groups button {
  align-self: center;
}
.create-group {
  display: block;
}

.group-fields {
  display: flex;
  flex-direction: column;
  margin: 1.2rem;
  padding-block: 2rem;
  align-items: center;
  gap: 1.2rem;
}

.group-input-container {
  display: flex;
  align-items: center;
}

.hidden {
  display: none !important;
}

.label-for-new-group {
  font-size: larger;
  text-align: center;
}

.input-field {
  padding: 0.6rem;
}

.btn-add-role:not([disabled]),
.btn-create-group {
  background: var(--color-buttons-background);
  color: var(--color-white);
  border: none;
}

.btn-add-role {
  margin: 5px;
}

#no-results-message {
  display: none;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  color:var(--color-groups-tab-background);
}

/*
*
    LOADER CLASSES
*
*/

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
}

.loader {
  border: 6px solid var(--color-loader-border);
  border-top: 6px solid var(--color-loader-border-top);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 1s linear infinite;
  margin: 1.2rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
NOT VERIFIED TEXT ABOVE
*/

.not-verified-tag {
  color: var(--color-not-verified);
  text-align: center;
}

@media (max-width: 650px) {
  .btn-add-role {
    position: static;
  }
  .manage-groups {
    flex-direction: column-reverse;
    padding: 1.2rem;
  }
  .manage-groups main{
    padding:unset;
    text-align: center;
  }

  .groups-list {
    height: 54vh;
  }
  .group-name {
    font-size: large;
  }
}
