:root {
  --toastify-text-color-light: #757575;
}

* {
  margin: 0;
  padding: 0;
}
:root {
  --color-groups-tab-background: rgb(29, 18, 131);
  --color-active-tabs-color: rgb(135, 216, 112);
  --color-active-groups-background: rgba(51, 122, 215, 0.69);
  --color-buttons-background: rgb(4, 17, 135);
  --color-loader-border: rgb(243, 243, 243);
  --color-loader-border-top: rgb(52, 152, 219);
  --color-list-border: rgba(0, 0, 0, 0.2);
  --color-white: rgb(255, 255, 255);
  --color-not-verified: rgb(255, 0, 0);
  --color-member-count: #717171;
  --color-group-dropdown-background: #f6f6f6;
  --color-group-dropdown-border-color: #ddd;
}
.container {
  font-family: 'Roboto', sans-serif;
}

.btn {
  padding: 0.6rem 2rem;
  border-radius: 0.4rem;
}

/*
    FOR TAB GROUPS [MANAGE AND CREATE]
*/

.groups-tab {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 1.2rem;
  flex-direction: row;
  background-color: var(--color-groups-tab-background);
}
.tab {
  font-size: larger;
  font-weight: bolder;
  color: var(--color-white);
  cursor: pointer;
  margin: 1.6rem;
  padding-bottom: 0.4rem;
}
.active-tab {
  color: var(--color-active-tabs-color);
  border-bottom: 4px solid var(--color-active-tabs-color);
}
.tab:hover {
  color: var(--color-active-tabs-color);
}

.active-group {
  background-color: var(--color-active-groups-background);
}

/*
    FOR Message toaster box
*/

.toaster-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
}

.toaster-message {
  padding: 15px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  display: none;
}

.hidden {
  display: none;
}

.show {
  display: block;
  animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
    FOR MANAGE GROUPS
*/

.manage-groups {
  display: flex;
}
.manage-groups main {
  padding: 1rem 2rem;
  flex: 1;
}

.groups {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.groups-search {
  margin: 10px;
  height: 4rem;
  width: 100%;
  position: sticky;
  top: 0;
  background: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.groups-list {
  padding: 0.8rem;
  list-style: none;
  height: 74vh;
  overflow-y: scroll;
}
.groups-list::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.groups-list::-webkit-scrollbar-thumb {
  background: var(--color-buttons-background);
  border-radius: 1.2rem;
}
.groups-list li {
  padding: 0.8rem;
  border: 1px solid var(--color-list-border);
  margin-bottom: 0.6rem;
  border-radius: 0.6rem;
  min-width: 40rem;
}
.groups-list li:hover {
  cursor: pointer;
  background-color: var(--color-active-groups-background);
}
.group-name {
  font-size: larger;
  display: flex;
}

.group-name::after {
  content: '(' attr(data-member-count) ')';
  margin: auto 0.26rem;
  font-size: 0.8rem;
  color: var(--color-member-count);
}

.group-name:not([data-member-count])::after {
  display: none;
}

.created-by--container {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  display: flex;
}

.created-by--avatar {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  clip-path: circle();
}

.created-by {
  opacity: 0.6;
  margin: auto 0.4rem;
}
.groups button {
  align-self: center;
}
.create-group {
  display: block;
}

.group-fields {
  display: flex;
  flex-direction: column;
  margin: 1.2rem;
  padding-block: 2rem;
  align-items: center;
  gap: 1.2rem;
}

.group-input-container {
  display: flex;
  align-items: center;
}

.hidden {
  display: none !important;
}

.label-for-new-group {
  font-size: larger;
  text-align: center;
}

.input-field {
  padding: 0.6rem;
}

.btn-add-role:not([disabled]),
.btn-create-group {
  background: var(--color-buttons-background);
  color: var(--color-white);
  border: none;
}

.btn-add-role {
  margin: 5px;
}

#no-results-message {
  display: none;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  color: var(--color-groups-tab-background);
}

/*
*
    LOADER CLASSES
*
*/

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
}

.loader {
  border: 6px solid var(--color-loader-border);
  border-top: 6px solid var(--color-loader-border-top);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 1s linear infinite;
  margin: 1.2rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
NOT VERIFIED TEXT ABOVE
*/

.not-verified-tag {
  color: var(--color-not-verified);
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-group-dropdown-background);
  min-width: 14rem;
  overflow: auto;
  border: 1px solid var(--color-group-dropdown-border-color);
  z-index: 1;
  text-align: justify;
}

.dropdown-content a {
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}

.show_filter {
  display: block;
}

.dropdown-content {
  cursor: pointer;
}

.filter-button {
  width: 5rem;
  height: 2rem;
  border-radius: 0.27rem 0 0 0.27rem;
  background-color: var(--color-group-dropdown-background);
  color: #000;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.3rem;
  border: 1px solid var(--color-group-dropdown-border-color);
}

.filter-button:after {
  content: '';
  border-left: 0.3rem solid transparent;
  border-right: 0.3rem solid transparent;
  border-top: 0.3rem solid;
  margin-left: 0.5rem;
}

.container_width {
  min-width: 40rem;
}

.Header_header__NLhag {
  padding-top: 0.6rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid var(--toastify-text-color-light);
}

.Header_link {
  padding: 0.6rem;
  text-decoration: none;
  font-weight: 700;
  color: #041484;
  cursor: pointer;
  background: none;
  border: none;
  position: relative;
  width: auto;
}

.Header_link__vertical:after {
  content: '';
  position: absolute;
  height: 1rem;
  width: 2px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.467);
}

.Header_active {
  color: #e30464;
}

.groups_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}

.search_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  min-width: 40rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid #d0d7de;
  position: relative;
}

.tasksearch_search-button-container__sk3_F {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
}

.tasksearch_search-button__EfOo7 {
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid gray;
  outline: none;
}

.tasksearch_filter-button__Lr_GZ {
  height: 2rem;
  position: relative;
  border-radius: 5px 0 0 5px;
  background-color: #fff;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
}

.filter_ccontainer {
  width: 8rem;
}

.groups-search-input {
  width: 100%;
  height: 2rem;
  border-radius: 0 5px 5px 0;
  outline: none;
  background-image: url(https://img.icons8.com/ios-filled/16/000000/search.png);
  background-repeat: no-repeat;
  background-position: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  background-color: #fff;
  border: none;
  border-left: 1px solid #d0d7de;
}

.tasksearch_filter-button__Lr_GZ:after {
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  margin-left: 0.5rem;
}

@media (max-width: 650px) {
  .btn-add-role {
    position: static;
  }
  .manage-groups main {
    padding: unset;
    text-align: center;
  }

  .groups-list {
    height: 75vh;
  }

  .group-name {
    font-size: large;
  }
  .groups-list li {
    min-width: auto;
  }
  .container_width {
    min-width: 20rem;
  }
  .search_container {
    min-width: 92%;
  }
}
