:root {
  --dark-blue: #1b1378;
  --light-aqua: #d4f9f2;
  --scandal: #e5fcf5;
  --white: #ffffff;
  --black-transparent: #000000a8;
  --black: #181717;
  --light-gray: #d9d9d9;
  --razzmatazz: #df0057;
  --gray: #808080;
  --button-proceed: #008000;
}

*,
::after,
::before {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.bold {
  font-weight: bolder;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  user-select: none;
  max-width: 100vw;
}

.container {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.header {
  background-color: var(--dark-blue);
  text-align: center;
  color: var(--white);
}

.extension-requests-modal-parent {
  display: none;
}
.extension-requests-modal-parent.visible {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #00000048;
}

.extension-requests-modal-parent > * {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  height: 100%;
  margin: 10px 0px;
  background-color: var(--white);
  padding: 20px;
  border-radius: 5px;
  min-width: 250px;
}

#close-modal {
  align-self: center;
}

/* task info */
.extension-requests-modal-parent[show='info'] .extension-requests-info {
  display: flex;
}

.extension-requests-info table {
  text-align: left;
  margin: 10px;
  color: var(--black);
  border-radius: 5px;
}

.extension-requests-info button {
  background-color: var(--button-proceed);
  border: none;
  color: var(--white);
  padding: 8px 16px;
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px;
}

/* task info ends here */

/* update form */
.extension-requests-modal-parent[show='update-form'] .extension-requests-form {
  display: flex;
}

.extension-requests-form input,
.extension-requests-form select {
  margin: 5px 0px 15px 0px;
  padding: 5px;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--gray);
}
.extension-requests-form input:focus {
  outline: none;
  border-bottom: 1px solid var(--gray);
}
.extension-requests-form button {
  background-color: var(--button-proceed);
  border: none;
  color: var(--white);
  padding: 8px 16px;
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px;
}

/* update form ends here */

/* status form */
.extension-requests-modal-parent[show='status-form']
  .extension-requests-status-form {
  display: flex;
}

.extension-requests-status-form input,
.extension-requests-status-form select {
  margin: 5px 0px 15px 0px;
  padding: 5px;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--gray);
}
.extension-requests-status-form input:focus {
  outline: none;
  border-bottom: 1px solid var(--gray);
}
.extension-requests-status-form button {
  background-color: var(--button-proceed);
  border: none;
  color: var(--white);
  padding: 8px 16px;
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px;
}

/* status form ends here */

.extension-requests {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(475px, 1fr));
  flex-wrap: wrap;
}

.extension-request {
  text-align: left;
  border: 2px solid var(--black-transparent);
  padding: 20px;
  margin: 10px;
  color: var(--black);
  border-radius: 5px;
}

.extension-request tr th {
  width: 50%;
}

.extension-request .more,
.extension-request .update_request {
  background-color: var(--button-proceed);
  border: none;
  color: var(--white);
  width: 40%;
  min-width: max-content;
  padding: 8px 16px;
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px 10px 0px 0px;
}

/* Loader Container */
.loader-text {
  text-align: center;
  font-size: 2rem;
}
.loader {
  margin: auto auto;
}

.loader p {
  font-weight: 800;
  font-size: 3em;
}

/* Error Heading */
.error {
  display: none;
}
.error-visible {
  display: block;
}
