:root {
  --blue-color: #1d1283;
  --blue-hover-color: #11085c;
  --dark-blue: #1b1378;
  --light-aqua: #d4f9f2;
  --scandal: #e5fcf5;
  --green-transparent: rgba(0, 255, 0, 0.2);
  --green-color: green;
  --red-transparent: rgba(255, 0, 0, 0.145);
  --white: #ffffff;
  --black-transparent: #000000a8;
  --black: #181717;
  --light-gray: #d9d9d9;
  --razzmatazz: #df0057;
  --red-color: red;
  --gray: #808080;
  --button-proceed: #008000;
  --modal-color: #00000048;
  --black-color: black;
  --light-gray-color: lightgray;
  --green10: #e1f9f1;
  --green500: #19805e;
  --secondary10: #fff0f6;
  --secondary600: #b6004e;
  --medium-gray: #aeaeae;
  --dark-gray: #737373;
  --blue-color-heading: #041187;
  --white-gray: #f2f2f3;
  --color-red: #ae1820;
  --color-green: rgba(0, 128, 0, 0.8);
  --color-warn: rgba(199, 129, 18, 0.8);
}

*,
::after,
::before {
  box-sizing: border-box;
}

.card-more-details {
  background-color: grey;
}

.extension-card {
  border-radius: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  border: 1px solid var(--medium-gray);
  position: relative;
  max-width: 46rem;
  width: 100%;
  gap: 1rem;
  max-height: 100%;
  transition: 800ms ease-in-out;
}

.extension-card-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fade-out {
  transform: scaleY(0);
}

.external-link {
  text-decoration: none;
  color: var(--medium-gray);
}

.external-link:hover {
  text-decoration: none;
  color: var(--dark-gray);
  transition-delay: 300ms;
}
.task-title {
  border: 0.5px solid var(--light-gray-color);
  border-radius: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  padding: 2px;
  max-width: 23rem;
  overflow: hidden;
  font-size: 0.9rem;
}

.accordion {
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
  transition: 0.8s;
  display: flex;
  justify-content: center;
}

.details-container {
  display: flex;
  gap: 4px;
  align-items: center;
}

.accordion img {
  transition: transform 500ms ease, scale 100ms ease;
}

.accordion:hover img {
  transform: scale(1.25);
}

.accordion.active img {
  transform: rotate(180deg);
}

.assignee-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.assignee-image {
  width: 1.875rem;
  height: 1.875rem;
  color: transparent;
  border-radius: 50%;
}

.assignee-name {
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 5px;
  height: 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: capitalize;
}

.approve-button {
  width: 6.25rem;
  height: 2rem;
  background-color: var(--green10);
  border-radius: 6px;
  border: 1px solid var(--green500);
  transition: 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.check-icon {
  margin-top: 4px;
}

.approve-button:hover {
  background-color: var(--green500);
}
.skeleton {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text,
.skeleton-link,
.skeleton-span {
  width: 3rem;
  height: 1rem;
  background-color: hsl(200, 20%, 70%);
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-link,
.skeleton-span,
.skeleton-text {
  width: 8rem;
  display: inline-flex;
  border-radius: 0.125rem;
  line-height: 3rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 80%);
  }
}

.edit-button {
  background: none;
  border: none;
  height: 2rem;
  width: 2rem;
  padding: auto;
  border-radius: 6px;
  border: 1px solid var(--black-color);
  transition: 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-button:hover {
  background-color: var(--light-gray);
}

.update-button {
  width: 6.25rem;
  height: 2rem;
  background-color: var(--green10);
  border-radius: 6px;
  border: 1px solid var(--green500);
  color: var(--green500);
  transition: 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.update-button:hover {
  background-color: var(--green500);
  color: var(--white);
}

.cancel-button {
  width: 6.25rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid var(--secondary600);
  color: var(--secondary600);
  transition: 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.cancel-button:hover {
  background-color: var(--secondary600);
  color: var(--white);
}

.update-wrapper {
  display: flex;
  width: auto;
  gap: 0.5rem;
  margin-right: 2.5rem;
}

.task-details-container,
.dates-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.deny-button {
  width: 6.25rem;
  height: 2rem;
  background-color: var(--secondary10);
  border-radius: 6px;
  border: 1px solid var(--secondary600);
  transition: 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.deny-button:hover {
  background-color: var(--secondary600);
}

.approved {
  pointer-events: none;
  color: var(--green500);
  font-weight: 600;
}

.denied {
  pointer-events: none;
  color: var(--secondary600);
  font-weight: 600;
}

.card-assignee-button-container {
  display: flex;
  justify-content: space-between;
}

.assignee-text {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--medium-gray);
}

.extension-card-buttons {
  display: flex;
  gap: 0.5rem;
  margin-right: 3.5rem;
}

.details-heading {
  width: fit-content;
  flex-shrink: 0;
  font-size: small;
  font-weight: 500;
  color: var(--medium-gray);
}

.details-line {
  border-bottom: 1px solid var(--medium-gray);
  width: 100%;
  display: inline-block;
}

.panel {
  background-color: var(--white-gray);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.panel div {
  background-color: var(--white);
  border-radius: 4px;
  margin: 2rem;
  padding: 1rem;
}

.summary-container {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  gap: 1rem;
  font-size: 0.9rem;
}

.card-row-text {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--medium-gray);
}

.card-row-text-small {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--medium-gray);
}
.title-text {
  text-decoration-line: none;
  font-size: 1.6rem;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  color: var(--blue-color-heading);
}

.title-text-input {
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--black-color);
}

.input-text-area {
  width: 100%;
  height: 5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  resize: none;
}

.date-input {
  border-radius: 4px;
  margin-left: 4px;
  border: 1px solid var(--black-color);
}

.reason-text {
  white-space: normal;
  word-wrap: break-word;
  max-width: 98%;
}
.log-div {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px;
  margin: 10px !important;
  padding: 0px !important;
}
.log-img {
  width: 20px;
  height: 20px;
}

.virtual {
  width: 100%;
}

.tooltip-container {
  position: relative;
}

.tooltip {
  background-color: var(--black-color);
  color: var(--white);
  visibility: hidden;
  text-align: center;
  border-radius: 4px;
  padding: 0.5rem;
  position: absolute;
  opacity: 0.9;
  font-size: 0.7rem;
  width: 10rem;
  bottom: 100%;
  left: 50%;
  margin-left: -5rem;
}

.sort-button-tooltip {
  bottom: 120%;
  width: 7rem;
  margin-left: -3.5rem;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  transition-delay: 400ms;
}

.tooltip-container:hover .sort-button-tooltip {
  visibility: visible;
  transition-delay: 200ms;
}

button {
  cursor: pointer;
}

.bold {
  font-weight: bolder;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  user-select: none;
  max-width: 100vw;
}

.container {
  width: 100%;
  text-align: center;
  padding: 2.5rem;
}

.header {
  background-color: var(--dark-blue);
  text-align: center;
  color: var(--white);
}

.extension-requests {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.extension-request {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  text-align: left;
  border: 2px solid var(--black-transparent);
  padding: 1.25rem;
  color: var(--black);
  border-radius: 5px;
  border-spacing: 0px 10px;
}

.extension-request tr th {
  width: 50%;
}

.extension-request > div {
  display: flex;
  justify-content: space-between;
}

.extension-request > div .more,
.extension-request > div .update_request {
  background-color: var(--button-proceed);
  border: none;
  color: var(--white);
  width: 48%;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  font-weight: bold;
  border-radius: 5px;
}

/* Loader Container */
.loader-text {
  text-align: center;
  font-size: 1.5rem;
}

.loader {
  margin: auto auto;
}

.loader p {
  font-weight: 600;
  font-size: 2em;
}

/* Error Heading */
.error {
  display: none;
}

.error-visible {
  display: block;
  align-self: center;
}

.filter-button {
  background-color: var(--blue-color);
  color: var(--white);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 2.5rem;
  padding: 0.7rem;
}

.sort-button {
  background-color: var(--light-gray-color);
  border-radius: 0.4rem;
  border: 2.5px solid var(--black-color);
  padding: 8px;
  height: 2.5rem;
}

.sort-button:hover {
  background-color: var(--medium-gray);
}

.page-message {
  margin: auto;
  font-weight: 800;
  font-size: 2em;
}

.funnel-icon {
  width: 1.2rem;
  height: 1.5rem;
  margin-left: 0.5rem;
}

.filter-button:hover {
  background-color: var(--blue-hover-color);
}

.search-filter {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 2.5rem;
  gap: 1rem;
}

#assignee-search {
  width: 90%;
  max-width: 15rem;
  min-width: 10rem;
  padding: 0.7rem 0.7rem;
  border-radius: 0.4rem;
  border: 2.5px solid var(--black-color);
  font-size: medium;
  background-color: var(--light-gray-color);
  margin: 0 10px;
  height: 2.5rem;
}

#desc-sort-icon {
  display: none;
}

.green-card {
  opacity: 1;
  border: 1px solid var(--green-color);
  background-color: var(--green-transparent);
}

.red-card {
  opacity: 1;
  border: 1px solid var(--red-color);
  background-color: var(--red-transparent);
}

.spinner {
  border: 8px solid var(--white-gray);
  border-radius: 50%;
  border-top: 8px solid var(--dark-blue);
  width: 1.5rem;
  height: 1.5rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  right: 50%;
}

/* Filter modal  */
.filter-modal {
  width: 20%;
  min-width: 15rem;
  border: 1px solid var(--light-gray-color);
  box-shadow: 0 0 10px var(--black-transparent);
  border-radius: 0.31rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  z-index: 1;
  position: absolute;
  top: 10.25rem;
  right: 1rem;
  background-color: var(--white);
}

.filter-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.filters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal-form {
  text-align: initial;
  padding: 0.5rem;
  width: 80%;
}

.checkbox-label {
  display: block;
  margin-bottom: 0.5rem;
}

.clear-btn {
  background-color: var(--white);
  border: 1px solid var(--light-gray-color);
  border-radius: 0.31rem;
  padding: 0.31rem 0.62rem;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: var(--red-color);
  color: var(--white);
}

.filters {
  width: 100%;
  padding: 0.62rem;
  border: 1px solid var(--light-gray-color);
  border-radius: 0.31rem;
  margin: 0.31rem 0.62rem;
  cursor: pointer;
}
.invisible-div {
  margin: 0 !important;
  padding: 0 !important;
}

.filters:hover {
  background-color: var(--light-gray-color);
  border: 1px solid var(--black-color);
}

.apply-filter-button {
  border: 1px solid var(--light-gray-color);
  border-radius: 0.31rem;
  padding: 0.62rem;
  cursor: pointer;
  width: 100%;
  background-color: var(--blue-color);
  color: var(--white);
}

.apply-filter-button:hover {
  background-color: var(--blue-hover-color);
}

/* Filter modal end */
.commited-hours-trigger {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.hidden {
  display: none !important;
}
.comitted-hours {
  width: 250px;
  height: 50px;
  position: absolute;
  top: 0;
  border: 1px solid var(--medium-gray);
  border-radius: 10px;
  top: -50px;
  right: -250px;
  background: var(--white);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.label {
  color: var(--medium-gray);
  font-size: small;
}
.label-content {
  padding-left: 4px;
  font-size: small;
}
.label-content-missing {
  color: var(--secondary600);
}
.extension-request-header-wrapper {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 2rem;
}

.title-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.title-input-error,
.reason-input-error,
.extension-input-error {
  font-size: 12px;
  color: var(--red-color);
}

.extension-request-update-toast {
  position: fixed;
  bottom: 24px;
  right: 24px;
  padding: 16px 24px;
  background-color: var(--red-color);
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.extension-request-update-toast.fade-out {
  opacity: 0;
}

.extension-request-update-toast.toast-success {
  background-color: var(--green-color);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.red-text {
  color: var(--red-color);
}

.green-text {
  color: var(--color-green);
}
.orange-text {
  color: var(--color-warn);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .extension-request {
    margin: 0;
    padding: 0.8rem;
  }

  .extension-request > tr > th {
    max-width: fit-content;
  }

  .extension-requests-info {
    left: 10%;
    right: 10%;
  }

  .extension-requests-form {
    left: 10%;
    right: 10%;
  }

  .search-filter {
    justify-content: center;
  }
  .comitted-hours {
    right: 0.5rem;
  }
}

@media screen and (max-width: 720px) {
  .extension-card {
    max-width: 25rem;
  }

  .summary-container {
    display: flex;
    flex-direction: column;
  }

  .panel div {
    margin: 1.5rem;
  }

  .extension-card-buttons {
    margin: 0;
  }

  .card-assignee-button-container {
    flex-direction: column;
    gap: 0.75rem;
  }
}

@media screen and (max-width: 440px) {
  .container {
    padding: 1.5rem;
  }

  .filter-button {
    width: min-content;
  }

  .update-wrapper {
    flex-direction: column;
  }

  .update-button {
    font-size: 10px;
  }

  .cancel-button {
    font-size: 10px;
  }

  .panel div {
    margin: 1rem;
  }

  .assignee-text {
    display: none;
  }

  .filter-text {
    display: none;
  }

  .funnel-icon {
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  .container {
    padding: 1rem;
  }

  .filter-modal {
    top: 12.5rem;
  }
  .card-row-text-small {
    display: none;
  }
}
.panel::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  opacity: 0;
}

.panel::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.panel:hover::-webkit-scrollbar {
  opacity: 1;
}
