:root {
  --black-color: black;
  --white-color: white;
  --blue-color: #1d1283;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-color);
  color: var(--white-color);
  min-height: 3rem;
}

.user-standup-nav {
  font-size: 1.4rem;
  font-weight: 600;
}

.standup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

/* Search User */

.user-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-search-input {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
  font-size: 1.5rem;
  margin-right: 1rem;
  border: 2px solid var(--blue-color);
  transition: all 0.3s ease-in-out;
}

.user-search-button {
  border-radius: 0.5rem;
  padding: 0.6rem 2rem;
  font-size: 1.5rem;
  margin-right: 1rem;
  border: 2px solid var(--blue-color);
  background-color: var(--white-color);
  transition: all 0.3s ease-in-out;
}

.user-search-button:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

/* User Standup */

.user-standup-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70vh;
}

/* User List */

.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 70vh;
  border: 2px solid var(--blue-color);
}

.header-text-container {
  background-color: var(--blue-color);
  color: var(--white-color);
  width: 100%;
  text-align: center;
}

.header-text {
  font-size: 1rem;
  font-weight: 600;
}

.user-list-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
}

.user-list-item {
  display: flex;
  align-items: center;
  width: 80%;
  cursor: pointer;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 1px 0.5rem 1px rgba(0, 0, 0, 0.2);
}

.user-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.standup-update-frequency-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70vh;
  overflow-x: scroll;
  border: 2px solid var(--blue-color);
}

.info-repo {
  text-align: center;
}

.info-repo-link {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--blue-color);
  border-radius: 0.5rem;
}
