:root {
  --black-color: black;
  --white-color: white;
  --blue-color: #1d1283;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-color);
  color: var(--white-color);
}

.user-standup-nav {
  font-size: 1.4rem;
  font-weight: 600;
}

.standup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

/* Search User */
.user-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-search-input {
  width: 60%;
  border-radius: 0.5rem;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  margin-right: 1rem;
  border: 2px solid var(--blue-color);
  transition: all 0.3s ease-in-out;
}

.user-search-button {
  border-radius: 0.5rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--white-color);
  color: var(--blue-color);
  border: 2px solid var(--blue-color);
}

.user-search-button:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

/* User Standup */
.user-list-item {
  width: 12rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 2px solid var(--white-color);
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
}

.user-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: var(--white-color);
}

.user-name {
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-standup-table {
  color: var(--blue-color);
  font-family: monospace;
  font-size: 1rem;
  border-collapse: collapse;
}

.user-standup-table {
  width: 100%;
  border: 1px solid black;
}

.date {
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: var(--blue-color);
  color: var(--white-color);
  z-index: 10;
  border: 1px solid black;
}

.status {
  text-align: center;
  border-collapse: collapse;
  position: relative;
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: #e3e2e2;
}

tr:hover {
  background-color: #c0bbbb;
  cursor: pointer;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
  min-height: 75vh;
  max-height: 75vh;
}

.user {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: var(--blue-color);
}

.table-head {
  position: sticky;
  z-index: 100;
}

.tooltiptext {
  border: 1px solid white;
  background-color: black;
  color: var(--white-color);
  visibility: hidden;
  text-align: center;
  border-radius: 0.43rem;
  padding: 0.5rem;
  position: absolute;
  z-index: 1000;
  font-size: 0.6rem;
  width: 15rem;
  right: -125%;
  bottom: 61%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tooltiptext::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  border: 0.43rem solid;
  border-color: var(--blue-color) transparent transparent transparent;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--blue-color);
  border-radius: 0.5rem;
}

.info-repo {
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

.info-repo-link {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 10px;
  }

  .user-search-input {
    width: 70%;
  }

  .user-search-button {
    padding: 0.6rem 0.8rem;
    font-size: 0.8rem;
  }

  .user-standup-table {
    font-size: 0.8rem;
  }
  .user-list-item {
    width: 8rem;
    font-size: 0.8rem;
    padding: 0;
  }

  .user-image {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }

  .user-name {
    font-size: 0.8rem;
  }

  .table-row {
    font-size: 0.8rem;
  }

  .status {
    font-size: 0.8rem;
  }

  .tooltiptext {
    font-size: 0.5rem;
    width: 10rem;
  }

  .info-repo {
    font-size: 0.8rem;
  }
}
