:root {
  --black-color: black;
  --white-color: white;
  --blue-color: #1d1283;
  --gray-color: #e3e2e2;
  --dark-gray-color: #a8a8a8;
  --light-blur-color: rgba(14, 12, 168, 0.691);
  --loader-background-gradient: linear-gradient(
    110deg,
    rgba(227, 227, 227, 0) 0%,
    rgba(227, 227, 227, 0) 40%,
    rgba(227, 227, 227, 0.5) 50%,
    rgba(227, 227, 227, 0) 60%,
    rgba(227, 227, 227, 0) 100%
  );
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: margin-left 0.5s;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-color);
  color: var(--white-color);
}

.user-standup-nav {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}

.standup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

/* Search User */
.user-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-search-input {
  width: 60%;
  border-radius: 0.5rem;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  margin-right: 1rem;
  border: 2px solid var(--blue-color);
  transition: all 0.3s ease-in-out;
}

.user-search-button {
  border-radius: 0.5rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--white-color);
  color: var(--blue-color);
  border: 2px solid var(--blue-color);
}

.user-search-button:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.user-list-item {
  width: 12rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 2px solid var(--white-color);
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
}

.user-image {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: var(--white-color);
}

.user-name {
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-standup-table {
  color: var(--blue-color);
  font-family: monospace;
  font-size: 1rem;
  border-collapse: collapse;
}

.user-standup-table {
  width: 100%;
  border: 1px solid var(--black-color);
}

.date,
.dates {
  position: sticky;
  top: 0;
  padding: 0.75rem;
  background-color: var(--blue-color);
  color: var(--white-color);
  z-index: 10;
  border: 1px solid var(--black-color);
  min-width: 7.25rem;
}

.status {
  text-align: center;
  border-collapse: collapse;
  position: relative;
  border: 1px solid var(--black-color);
}

tr:nth-child(even) {
  background-color: var(--gray-color);
}

tr:hover {
  cursor: pointer;
}
td:hover {
  background-color: var(--dark-gray-color);
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
  min-height: 75vh;
  max-height: 75vh;
}

.user {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: var(--blue-color);
}

.table-head {
  position: sticky;
  z-index: 100;
}

.tooltiptext {
  background-color: var(--black-color);
  color: var(--white-color);
  visibility: hidden;
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
  position: absolute;
  z-index: 100;
  font-size: 0.7rem;
  width: 30ch;
  right: -106%;
  bottom: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.tooltiptext::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  border: 0.43rem solid;
  border-color: var(--blue-color) transparent transparent transparent;
}

.tooltip-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--blue-color);
  border-radius: 0.5rem;
}

.info-repo {
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

.info-repo-link {
  color: var(--black-color);
  text-decoration: none;
  font-weight: 600;
}

.loader {
  position: relative;
  margin-bottom: 1.5rem;
  border: 1px solid var(--dark-gray-color);
  padding: 1rem;
  background-color: var(--white-color);
  overflow: hidden;
}

.loader:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--loader-background-gradient);
  animation: gradient-animation 1.2s linear infinite;
}

.loader .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.loader .wrapper > div {
  background-color: var(--dark-gray-color);
}

.loader .circle {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}

.loader .line-1 {
  position: absolute;
  top: 0.5rem;
  left: 4rem;
  height: 0.6rem;
  width: 95%;
}

.loader .line-2 {
  position: absolute;
  top: 2rem;
  left: 4rem;
  height: 0.6rem;
  width: 95%;
}

@keyframes gradient-animation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}
.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  color: var(--white-color);
  overflow-x: hidden;
  padding: 1rem;
  border-radius: 1rem 0 0 1rem;
  background: var(--light-blur-color);
  box-shadow: 0 0 0.8rem var(--blue-color);
  backdrop-filter: blur(2rem);
}
.openSidebar {
  width: 20%;
}

.standup-head {
  text-align: center;
  border-bottom: 1px solid var(--white-color);
  margin-bottom: 0.5rem;
}

.sidebar div {
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 0.8rem;
  }

  .user-search-input {
    width: 70%;
  }

  .user-search-button {
    padding: 0.6rem 0.8rem;
    font-size: 0.8rem;
  }

  .user-standup-table {
    font-size: 0.8rem;
  }
  .user-list-item {
    width: 8rem;
    font-size: 0.8rem;
    padding: 0;
  }

  .user-image {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }

  .user-name {
    font-size: 0.8rem;
  }

  .table-row {
    font-size: 0.8rem;
  }

  .status {
    font-size: 0.8rem;
  }

  .tooltiptext {
    display: none;
  }

  .info-repo {
    font-size: 0.8rem;
  }
  body {
    width: 100%;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 1rem 0 1rem 0;
  }
  .openSidebar {
    width: 100%;
    animation: slideIn 0.5s ease-in-out forwards;
  }
  @keyframes slideIn {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

  .closeSidebar {
    animation: slideOut 0.5s ease-in-out forwards;
  }

  @keyframes slideOut {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
}
