* {
  margin: 0;
}

:root {
  --blue-color: #1d1283;
  --blue-hover-color: #11085c;
  --white-color: white;
  --black-color: black;
  --light-gray-color: lightgray;
  --button-active-color: #a8a8a8;
  --button-hover-color: #e6e6e6;
  --gray-color: #f3f3f3;
  --loader-blue-color: #3498db;
  --red-color: red;
  --text-note-color: #c2babaf2;
  --pagination-btn-active-color: #192bc2;
}

.header {
  background-color: var(--blue-color);
  text-align: center;
}

.header h1 {
  padding: 16px 4px;
  color: var(--white-color);
}

#main-section {
  margin: 1.5em 4em;
  text-align: center;
}

.search-filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#search input {
  width: 250px;
  height: 30px;
  padding: 10px 10px;
  border-radius: 10px;
  border: 2.5px solid var(--black-color);
  font-size: medium;
  background-color: var(--light-gray-color);
  margin: 0 10px;
}

#view-type-btn {
  margin: 40px auto;
}

#view-type-btn button {
  border: 2.5px solid var(--black-color);
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px;
}

.btn-active {
  background-color: var(--button-active-color);
}

#user-list > ul li {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

li {
  border: 1.5px solid var(--black-color);
  margin: 15px;
  border-radius: 10px;
  background-color: var(--light-gray-color);
  width: 150px;
  font-size: larger;
  word-spacing: 5px;
  padding: 20px 10px;
}

li p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.tile-width {
  width: 200px;
}

.error-text {
  font-size: x-large;
  color: var(--red-color);
}

.user-img-dimension {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#loader {
  border: 5px solid var(--gray-color);
  border-top: 5px solid var(--loader-blue-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 150px auto;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}

.pagination-btn {
  font-size: 20px;
  border-radius: 7px;
  padding: 10px 15px;
  border: none;
  background-color: var(--pagination-btn-active-color);
  color: var(--white-color);
}

.pagination-btn:active {
  background-color: var(--gray-color);
  color: var(--pagination-btn-active-color);
}

.btn-disabled {
  pointer-events: none;
  background-color: var(--gray-color);
  color: var(--pagination-btn-active-color);
}

#user-note {
  color: var(--text-note-color);
}

.error-dialog {
  display: flex;
  position: absolute;
  inset: 0;
  align-items: center;
  justify-content: center;
}

.error-overlay {
  position: absolute;
  inset: 0;
}

.error-content {
  padding: 2rem 1rem;
  background-color: white;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10%);
}

.error-content > button {
  margin-top: 1rem;
  padding: 0.25rem 2rem;
}

.filter-modal {
  width: 20%;
  min-width: 15rem;
  border: 1px solid var(--light-gray-color);
  border-radius: 0.31rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  z-index: 1;
  position: absolute;
  top: 20%;
  right: 0;
  background-color: var(--white-color);
}

.filter-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.filters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal-form {
  text-align: initial;
  padding: 0.4rem;
  width: 80%;
}

.checkbox-label {
  display: block;
  margin-bottom: 0.4rem;
}

.clear-btn {
  background-color: var(--white-color);
  border: 1px solid var(--light-gray-color);
  border-radius: 0.31rem;
  padding: 0.31rem 0.62rem;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: var(--red-color);
  color: var(--white-color);
}

.filters {
  width: 100%;
  padding: 0.62rem;
  border: 1px solid var(--light-gray-color);
  border-radius: 0.31rem;
  margin: 0.31rem 0.62rem;
  cursor: pointer;
}

.filters:hover {
  background-color: var(--light-gray-color);
  border: 1px solid var(--black-color);
}

.apply-filter-button {
  border: 1px solid var(--light-gray-color);
  border-radius: 0.31rem;
  padding: 0.62rem;
  cursor: pointer;
  width: 100%;
  background-color: var(--blue-color);
  color: var(--white-color);
}

.apply-filter-button:hover {
  background-color: var(--blue-hover-color);
}

.filter-button {
  background-color: var(--blue-color);
  color: var(--white-color);
  border: none;
  border-radius: 0.31rem;
  cursor: pointer;
  padding: 1rem 2rem;
  position: absolute;
  top: 14.5%;
  right: 5%;
  display: flex;
  align-items: center;
}

.filter-button:hover {
  background-color: var(--blue-hover-color);
}

.funnel-icon {
  width: 1.2rem;
  margin-left: 0.5rem;
}

.remove-element {
  display: none;
}

.hidden {
  display: none;
}

.info-repo {
  font-weight: 100;
  padding: auto;
  text-align: center;
}

footer {
  margin-top: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 560px) {
  .filter-button {
    position: relative;
    right: 0;
    margin: 0.5rem;
  }

  .filter-modal {
    width: 95%;
    top: 30%;
  }
}

@media screen and (max-width: 440px) {
  .tile-view {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .tile-width {
    width: 150px;
  }

  #search input {
    width: 200px;
  }

  .pagination-btn {
    font-size: 15px;
    padding: 7px 12px;
  }
}

@media screen and (max-width: 300px) {
  #main-section {
    margin: 1.5em 2em;
  }
}
