*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --black-color: black;
  --white-color: white;
  --blue-color: #1d1283;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#tasksNav {
  background-color: #1d1283;
  padding: 10px;
  height: 40px;
  text-align: center;
}

#not-found-text-p {
  color: white;
  font-size: 20px;
  margin: 0;
}

.main-container {
  margin: 0;
  padding: 0;
  flex: 100%;
  display: flex;
  flex-direction: column;
}

.not-found {
  margin: auto;
  text-align: center;
}

.not-found__img {
  width: 60%;
}

.not-found-text-h1 {
  font-weight: 700;
}

.info-repo {
  font-weight: 100;
  padding: auto;
  text-align: center;
}

footer {
  margin-top: auto;
}

.element-display-remove {
  display: none;
}

@media only screen and (max-width: 644px) {
  .not-found-text-h1 {
    font-size: 20px;
  }
}
