* {
  margin: 0;
  padding: 0;
}
:root {
  --color-groups-tab-background: #1d1283;
  --color-active-tabs-color: #87d870;
  --color-active-groups-background: #337ad7b0;
  --color-buttons-background: #041187;
  --color-loader-border: #f3f3f3;
  --color-loader-border-top: #3498db;
}
.container {
  font-family: 'Roboto', sans-serif;
}

.btn {
  padding: 0.6rem 2rem;
  border-radius: 0.4rem;
}

/*
    FOR TAB GROUPS [MANAGE AND CREATE]
*/

.groups-tab {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 1.2rem;
  flex-direction: row;
  background-color: var(--color-groups-tab-background);
}
.tab {
  font-size: larger;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  margin: 1.6rem;
  padding-bottom: 0.4rem;
}
.active-tab {
  color: var(--color-active-tabs-color);
  border-bottom: 0.24rem solid var(--color-active-tabs-color);
}
.tab:hover {
  color: var(--color-active-tabs-color);
}

.active-group {
  background-color: var(--color-active-groups-background);
}

/*
    FOR MANAGE GROUPS
*/

.manage-groups {
  display: flex;
}
.manage-groups main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.groups {
  overflow: scroll;
}
.groups::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}
.groups::-webkit-scrollbar-thumb {
  background: var(--color-buttons-background);
  border-radius: 1.2rem;
}
.groups-list {
  padding: 0.8rem;
  list-style: none;
  height: 80vh;
}
.groups-list li {
  padding: 0.8rem;
  border: 0.08rem solid rgba(0, 0, 0, 0.2);
  margin-bottom: 0.6rem;
  border-radius: 0.6rem;
}
.group-name {
  font-size: larger;
}
.create-by {
  opacity: 0.6;
}
.groups button {
  align-self: center;
}
.create-group {
  display: block;
}

.group-fields {
  display: flex;
  flex-direction: column;
  margin: 1.2rem;
  padding-block: 2rem;
  align-items: center;
  gap: 1.2rem;
}

.group-input-container {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.label-for-new-group {
  font-size: larger;
  text-align: center;
}

.input-field {
  padding: 0.6rem;
}

.btn-add-role:not([disabled]),
.btn-create-group {
  background: var(--color-buttons-background);
  color: #fff;
  border: none;
}

/*
*
    LOADER CLASSES
*
*/

.loader {
  border: 0.6rem solid var(--color-loader-border);
  border-top: 0.6rem solid var(--color-loader-border-top);
  border-radius: 50%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  animation: spin 1s linear infinite;
  margin: 1.2rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
NOT VERIFIED TEXT ABOVE
*/

.not-verified-tag {
  color: red;
  text-align: center;
}

@media (max-width: 650px) {
  .manage-groups {
    flex-direction: column-reverse;
    padding: 1.2rem;
    gap: 1.2rem;
  }
  .groups-list {
    height: 60vh;
  }
  .group-name {
    font-size: large;
  }
}
