*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#tasksNav {
  background-color: #1d1283;
  padding: 10px;
  height: 40px;
}

#createTask {
  color: white;
  padding-left: 50%;
  text-decoration: none;
  font-size: large;
}

.buttonSection {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  width: auto;
}

.online-members-btn,
.profile-task-btn,
.create-task-btn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #1d1283;
  background-color: #fafbfc;
  border-color: #0e101226;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}

.online-members-btn:hover,
.profile-task-btn:hover,
.create-task-btn:hover {
  color: white;
  background-color: #1d1283;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px,
    rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
  transition-duration: 0.1s;
}

/* profile section */
.profileSection {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-repo {
  font-weight: 100;
  padding: auto;
  text-align: center;
}

footer {
  background-color: whitesmoke;
  margin-top: auto;
}
