*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

footer {
  margin-top: auto;
}

#tasksNav {
  background-color: #1d1283;
  height: 32px;
}

#createTask {
  color: white;
  padding-left: 50%;
  text-decoration: none;
  font-size: large;
}

.createTaskSection {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-task-btn {
  color: black;
  font-weight: 500;
  font-size: larger;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 50px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.create-task-btn:hover {
  color: white;
  background-color: #1d1283;
  border: none;
}
