* {
  margin: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
}

:root {
  --blue-color: #1d1283;
  --white-color: white;
  --black-color: black;
  --light-gray-color: lightgray;
  --button-active-color: #a8a8a8;
  --loader-gray-color: #f3f3f3;
  --loader-blue-color: #3498db;
  --gray-700: #c4c4c4;
  --red-color: red;
}

body {
  font-family: 'Roboto', sans-serif;
  grid-template-rows: max-content 1fr auto;
  height: 100%;
  display: grid;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  list-style: none;
}

li {
  cursor: pointer;
}

.header {
  background-color: var(--blue-color);
  text-align: center;
}

.header h1 {
  padding: 16px 4px;
  color: var(--white-color);
}

#main-section {
  margin: 40px auto;
  text-align: center;
  width: min(90%, 720px);
}

/* ------------- */
/* User Details  */
/* ------------ */

.user-details-main {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--gray-700);
}

.user-details-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-details-image > img {
  height: 100px;
  width: 100px;
}

.user-details-username {
  font-size: 1.75rem;
  margin-top: 0.5rem;
  font-weight: 400;
}

.user-details-tags {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  transform: translateY(10px);
}

.user-details-tags > p {
  background-color: var(--gray-700);
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}

.user-details-social {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: space-around;
}

.social {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  background-color: var(--loader-gray-color);
  padding: 0.4rem 0.5rem;
  border-radius: 5px;
}

.social > img {
  width: 25px;
  height: 25px;
}

.accordion {
  padding-top: 1rem;
}

.visible-content {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid var(--loader-gray-color);
}

.visible-content > h2 {
  flex-grow: 1;
  font-size: 2rem;
  max-width: 80%;
  margin: 0 auto;
}

.visible-content > img {
  flex-grow: 0;
  transition: transform 300ms ease;
}

.open {
  transform: rotate(180deg);
  transition: transform 300ms ease;
}

.hidden-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 10%);
  padding: 0 1rem;
}

.hidden-content > div {
  padding: 1rem 0;
}

.hidden-content > .loader,
.hidden-content > .error {
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.hidden-details + .hidden-details {
  border-top: 1px solid var(--loader-gray-color);
}

.hidden-details > p {
  margin-top: 1.5rem;
  padding-left: 1rem;
}

.hide {
  display: none;
}

.task-title {
  font-size: 1.75rem;
}

.task-description {
  margin-top: 0.25rem;
}

.user-tasks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.task-details {
  margin-top: 1rem;
}

.task-details > div {
  padding: 0.5rem 0;
}

.pagination {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
}

.loader {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10rem;
}

.error {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10rem;
  color: var(--red-color);
}

.tasks-list .loader {
  text-align: center;
  margin: 5rem 0;
}

.skill-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  text-align: center;
  padding: 2rem 0;
}

footer p a {
  color: blue;
  text-decoration: underline;
}

.error-dialog {
  display: flex;
  position: absolute;
  inset: 0;
  align-items: center;
  justify-content: center;
}

.error-overlay {
  position: absolute;
  inset: 0;
}

.error-content {
  padding: 1rem;
  background: white;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10%);
}

.error-content > button {
  margin-top: 1rem;
  padding: 0.25rem 2rem;
}

@media (max-width: 600px) {
  .social {
    gap: 0.5rem;
  }

  .social > img {
    width: 20px;
    height: 20px;
  }
}
