@import url('../global.css');

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #666;
  --color-gray-light: #f4f4f4;
  --color-rgba-black-065: rgba(0, 0, 0, 0.65);
  --color-rgba-black-007: rgba(0, 0, 0, 0.07);
  --color-blue: #7171fd;
  --color-red: red;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  user-select: none;
}

.container {
  width: 100%;
  color: var(--color-gray);
  text-align: center;
  padding: 1em 0;
}

.goal-form {
  width: 60vw;
  max-width: 40rem;
  min-width: 18.75rem;
  margin: 0 auto;
  padding: 1em 1.5em;
  border: 1px solid var(--color-gray-light);
  border-radius: 20px;
  box-shadow: 0 0 15px -7px var(--color-rgba-black-065);
}

.inputBox {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.inputBox label {
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  text-align: left;
  position: relative;
}

.inputBox input {
  padding: 1em;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  width: 100%;
}

::placeholder {
  font-family: sans-serif;
}

.submitBtn {
  font-size: 1rem;
  padding: 1em 0.5em;
  outline: 0;
  box-shadow: var(--color-rgba-black-007) 0 1px 1px,
    var(--color-rgba-black-007) 0 2px 2px, var(--color-rgba-black-007) 0 4px 4px,
    var(--color-rgba-black-007) 0 8px 8px,
    var(--color-rgba-black-007) 0 16px 16px;
}

.submit {
  background-color: var(--color-blue);
  color: var(--color-white);
  cursor: pointer;
}

.required {
  color: var(--color-red);
  font-size: medium;
}

.type,
.user-role,
.priority {
  width: 100%;
  padding: 1em;
  border-radius: 5px;
}

#isNoteworthy {
  width: auto;
}

.info-repo {
  font-weight: 100;
  padding: auto;
  text-align: center;
}

footer {
  margin-top: auto;
}

.notEditing {
  display: none;
}

.inputBox label .edit-button {
  width: fit-content;
  height: fit-content;
  font-size: 0.625em;
  opacity: 60%;
  right: 5px;
  cursor: pointer;
  display: block;
  transition: opacity ease 0.25s;
  padding: 0.3125rem 0.625rem 0.3125rem 0rem;
}

.inputBox .preview {
  font-size: 0.875em;
  font-weight: 400;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 80%;
  position: relative;
  overflow: hidden;
}

.inputBox label .edit-button:hover {
  opacity: 100%;
}

.inputBox label .edit-button.edit-button__active {
  opacity: 100%;
}

.error-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.hidden {
  display: none;
}
